<%= form_with url: clock_path, method: :patch do |form| %>
  <h3><%= form.label 'Select your timezone', class: "form-label" %></h3>
  <%= select_tag(:timezone, options_for_select(@timezones, 2), {class: "form-control"}) %><br>
  <%= form.submit "Save timezone", class: "btn btn-primary" %>
<% end %>
