<section>
  <article>
    <%= render 'my_timezone' %>
    <p><%= link_to 'My favorite timezones', favorites_timezones_path(current_user) %></p>
    <p><%= link_to 'Back to main page', root_path %></p>
  </article>
</section>
<%= javascript_pack_tag 'clock' %>
