<section>
  <article>
    <%= render 'my_timezone' %>
    <hr>
    <h4>My favorite timezones</h4>
    <%= render 'favorites' %>
    <p><%= link_to 'Back to main page', root_path %></p>
  </article>
</section>
