<h1>Clock#index</h1>
<p>Find me in app/views/clock/index.html.erb</p>


<% if user_signed_in? %>
  <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
  <p><%= link_to 'Edit my account', edit_user_registration_path %></p>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %></p>
  <p><%= link_to 'Register', new_user_registration_path %></p>
<% end %>
