<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Alarm Notification</h1>
  <p>
  You have an alarm at <%= @alarm.time  %>
  </p>
  <p>Thanks for register and have a great day!</p>
</body>
</html>
