<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Alarm Notification</h1>
  <p>
    This is the alert for your alarm <%= @alarm.label %>
  </p>
  <p>Thanks for register and have a great day!</p>
</body>
</html>
