<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Summary of the day <%= DateTime.now.strftime("%d/%m/%Y") %></h1>
  <h3>Stopwatches record</h3>
  <ul>
    <% @summary[:stopwatches].each do |stopwatch| %>
      <li>
        Name: <%= stopwatch.label %>
      </li>
    <% end %>
  </ul>
  <h3>
    These are your alarms for tomorrow
  </h3>
  <ul>
    <% @summary[:alarms].each do |alarm| %>
      <li>
        Name: <%= alarm.label %>, Date: <%= alarm.time %>
      </li>
    <% end %>
  </ul>

  <p>Thanks for register and have a great day!</p>
</body>
</html>
