<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Summary of the day <%= @user.email  %></h1>
  <p> 
  These are the stopwatches for today <%= @alarms[0] %>
  </p>
  <p>
    These are the alarms for tomorrow
  </p>

  <p>Thanks for register and have a great day!</p>
</body>
</html>
